
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
}

.header-main-con {
  height: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #ffffff 0%, #f7f0ff 100%);
}

.head-logo{
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: #00ffaa;
  margin-bottom: 1rem;
  position: fixed;
  margin: 30px;
  z-index: 10;
}

.list{
    justify-content: center;
    align-items: center;
    display: flex;
}

.list-ul{
    list-style: none;
    display: flex;
    gap: 30px;
   text-align: center;
}

.list-ul li{
   margin-top: 40px;
    
}

@media (max-width: 1000px) {
   .list{
    justify-content: end;
    align-items: end;
    display: flex;
    margin-right: 20px;
}
}

@media (max-width: 700px) {
  
}